<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página inicial</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body {
        background-color: cyan;
      }
      .menu {
        background-color: darkorchid;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
    </style>
  </head>
  <body>
    <nav class="menu">
      <img
        src="https://www.publicdomainpictures.net/pictures/210000/nahled/letter-j-1490186478bVD.jpg"
        alt="Logo site"
      />
      <ul>
        <a href="/">HOME</a>
        <a href="/sobre">SOBRE NÓS</a>
      </ul>
    </nav>
  </body>
</html>
