<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página inicial</title>
    <link rel="stylesheet" href="../../public/style/global.css" />
  </head>

  <body>
    <nav class="menu">
      <a href="/">
        <img
          class="logo"
          src="https://cdn-icons-png.flaticon.com/512/7297/7297864.png"
          alt="Logo site"
        />
      </a>
      <ul>
        <a href="/contato">CONTATO</a>
        <a href="/sobre">SOBRE NÓS</a>
        <a class="btn-logar" href="/login">LOGAR</a>
      </ul>
    </nav>
  </body>
</html>
